<ion-view view-title="{{staTitle}}">
  <ion-content padding="true" ng-show="staScope.summaryModal">

  <div class = "item">
  	<div style="float:left;width:60%;margin-right:5%;">
	  	<label class="item item-input item-select" ng-show="!staScope.displayDetail">
				<div class="input-label"> &nbsp; </div>
				<select ng-model="staScope.choosen" ng-options="s.name for s in staScope.telrs"></select>
			</label>
  	</div>
  	
  	<div style="float:left;width:30%">
  		<i class="button icon-right ion-chevron-right" ng-click="staScope.showSpeTelr();">明细</i>
  	</div>
  </div>
		
  	
		<div class="item item-divider">
	    柜员工作量对比
	  </div>
	  
	  <div class = "item">
	 	 <nvd3-pie-chart
	    	data="staScope.workloadCompare"
	        id="workload_Compare"
	        x="staScope.xPieChartFn()"
	        y="staScope.yPieChartFn()" 
	        showLegend="true"
	        showLabels="true"
	        noData="No Data For You!"
	        labelType="percent">
	    </nvd3-pie-chart>
	  </div>
	  	

  	<div class="item item-divider">
	    柜员审批速度对比
	  </div>
	  <div class = "item">
	  	<nvd3-discrete-bar-chart
	    	data="staScope.speedCompare"
	        id="speed_Compare"
	        showXAxis="true"
	        showYAxis="true"
	        xAxisTickFormat="staScope.xBarChart()"
	        staggerLabels="true"
	        height="300">
	    </nvd3-discrete-bar-chart>
    
    </div>
    
  </ion-content>
  
  <ion-content padding="true" ng-show="!staScope.summaryModal">
	  <div class = "item">
	  		<i class="button button-block icon-left ion-chevron-left" ng-click="staScope.showSummary();"> 总览</i>
	  </div>
  
	  
		<div class="item" style="padding:0">
			<nvd3-cumulative-line-chart
				data="staScope.choosen.sta"
				id="exampleId"
				width="420"
				height="350"
				showXAxis="true"
				showYAxis="true"
				showLegend="true"
				yAxisTickFormat="yAxisTickFormatFunction()"
				xAxisTickFormat="xAxisTickFormatFunction()"
				color="staScope.colorFunction()"
				margin="{left:70,top:70,bottom:70,right:125}">
				<svg></svg>
			</nvd3-cumulative-line-chart>
		</div>
		
	</ion-content>
  
</ion-view>
