<ion-view view-title="{{user.name}}">
  <ion-content padding="true">
  	<ul class = "list">
      <li class="item" ng-repeat="item in items">
          <label class="toggle toggle-calm" style = "float:left;margin:0">
		       <input type="checkbox" ng-model="item.status" ng-checked="item.status==1">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     	</label>
		     	
		     	<label style = "float:left;padding:10px 0 0 5px;" ng-bind = "item.transactionName"></label>
		     	
		     	<i class="button icon-right ion-chevron-right" style="float:right" ng-click="show_detail({{item}})">明细</i>
		     	
        </li>
    </ul>
  </ion-content>
</ion-view>